header{
    background: lightblue;
    font-size: 20px;
    color: red;
}

button{
    padding: 10px;
    background: blue;
    color: red;
    border: none;
    border-radius: 4px;
    margin: 20px;
}